<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Club 40</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>

  <div class="flex-header-container">
    <h2 class="left-side-color">Special club for <span class="span-right-side-color">40 years old</span></h2>

    <h3 class="left-side-color">Everyone can send <span class="span-right-side-color">messages</span></h3>

    <h4 class="left-side-color">Non-members can only see the <span class="span-right-side-color">title and content</span></h4>

    <h5 class="left-side-color">Only members can see the <span class="span-right-side-color">author and date</span></h5>
  </div>

  <main class="message-container">

    <% if (locals.user && locals.user.membership_status === 'member') { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <h6><%= message.title %></h6>
      <p><%= message.content %></p>
      <p><%= message.timestamp %></p>
      <div>
        <p>
          <%= message.first_name %>
        </p>
        <%= message.last_name %>
      </div>
    </div>
    <% }) %>
    <% } else if (locals.user && locals.user.membership_status === 'admin') { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <form name="id" id="id" action="/message/delete/<%= message.id %>">
        <h6><%= message.title %></h6>
        <p><%= message.content %></p>
        <p><%= message.timestamp %></p>
        <div>
          <p>
            <%= message.first_name %>
          </p>
          <p><%= message.last_name %></p>
        </div>
        <button class="submit-btn" type="submit">Delete Message</button>
      </form>
    </div>
    <% }) %> <% } else { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <h6><%= message.title %></h6>
      <p><%= message.content %></p>
    </div>
    <% }) %>
    <% } %>

  </main>
</body>

</html>