<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Club 40</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>

  <header class="flex-header-container">
    <h1>Special club for 40 years olds</h1>

    <h2>Everyone can send messages</h2>

    <h3>Non-members can only see the title and contents</h3>

    <h4>Only members can see the author and date</h4>
  </header>

  <main class="message-container">

    <% if (locals.user && locals.user.membership_status === 'member') { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <h5><%= message.title %></h5>
      <p><%= message.content %></p>
      <p><%= message.timestamp %></p>
      <div>
        <p>
          <%= user.first_name %>
        </p>
        <%= user.last_name %>
      </div>
    </div>
    <% }) %>
    <% } else if (locals.user && locals.user.membership_status === 'admin') { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <form action="/message/delete/<%= message.id %>">
        <h5><%= message.title %></h5>
        <p><%= message.content %></p>
        <p><%= message.timestamp %></p>
        <div>
          <p>
            <%= user.first_name %>
          </p>
          <p><%= user.last_name %></p>
        </div>
        <button type="submit">Delete Message</button>
      </form>
    </div>
    <% }) %> <% } else { %>
    <% messages.forEach(message => { %>
    <div class="message-content">
      <h5><%= message.title %></h5>
      <p><%= message.content %></p>
    </div>
    <% }) %>
    <% } %>

  </main>
</body>

</html>